.cards {
  display: block;
  // align-items: flex-start;
  // gap: 30px;
}

// .card {
//   width: 270px;

// }
.card + .card{
  margin-top: 30px;
}
.icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.cards__title {
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-base);
  line-height: 1.4;
  letter-spacing: var(--ls-base);
  text-transform: uppercase;
  margin-top: 30px;
}

.cards__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: 1.7;
  letter-spacing: var(--ls-base);
  color: var(--fz-grey-color);

  // width: 270px;
}