.cards {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2 )  ;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }

}
.card + .card{
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
.icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.cards__title {
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-base);
  line-height: 1.4;
  letter-spacing: var(--ls-base);
  text-transform: uppercase;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
   text-align: left;
  }
}

.cards__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: 1.7;
  letter-spacing: var(--ls-base);
  color: var(--fz-grey-color);
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}