* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 480px;
  font-family: 'Roboto', sans-serif;
  color: var(--fz-dark-color);
  font-size: 0;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
  // padding: 94px 0;
}

.display-base-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 0.5px solid #dfdfdf;
}

.nav {
  list-style-type: none;
  font-size: 0;
}

.nav__wrap {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
}

.contacts {
  display: none;
  margin-left: auto;
}


.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover .icon-close,
  &:focus .icon-close{
fill: var(--hover-color);
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--fz-white-color);
  z-index: 9;
  transform: translateX(100%);
  transition: transform var(--base-transition);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--fz-dark-color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }

}
.contacts-link{
  font-size: 34px;
  line-height: 1.18;
  color: var(--fz-grey-color);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.mobile-menu li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  margin-top: 64px;
  display: flex;
}

.socials-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
}

.nav__item {
  display: inline-block;
}

.nav__item+.nav__item {
  margin-left: 50px;
}

.nav__link {
  text-decoration: none;
  color: var(--fz-dark-color);
  font-size: var(--fs-base);
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  transition: color var(--base-transition);
  padding: 32px 0;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.studio {
  position: relative;
  color: var(--hover-color);

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }
}

.logo {
  cursor: auto;
  font-family: 'Raleway', sans-serif;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: var(--ls-base);
  color: var(--hover-color);
  text-decoration: none;
  padding: 24px 0 25px;
}

.logo--black {
  color: var(--fz-black-color);
}

.nav__email,
.nav__tel {
  color: var(--fz-grey-color);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.icon:hover {
  color: var(--hover-color);
}